/* Write your CSS here */
.header-container {
  background-color: #cbd5e1;
  text-align: center;
  padding: 20px;
}
.header-heading {
  font-family: 'Roboto';
  color: #475569;
  font-weight: bold;
}
